body{
    background-size: cover;
    background-position: center;
    font-family: 'Times New Roman', Times, serif;
}
.heading{
    width: 100%;
    margin: 0;
    font-size: 30px;
    color: black;
    font-weight: bold;
    padding: 20px;
}
.link{
    width: 40%;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}
.back{
    background-color: black;
    color: white;
    font-size: 20px;
    width: 80px;
}
.status{
    color: navy;
    font-size: 20px;
}
.noofobj{
    color: navy;
    font-size: 20px;
}
canvas{
    box-shadow: 20px,20px,20px,white;
}